.bp-input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    input {
        all: unset;
        box-sizing: border-box;
    }

    .bp-input-wrapper {
        width: auto;
        height: 40px;
        border: 1px solid var(--bp-theme-border-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2px 2px 2px 20px;
        border-radius: 2px;

        &:focus {
            border: 2px solid var(--bp-theme-border-color);
        }

        &.invalid {
            border: 2px solid hsl(var(--red-400));
        }

        .bp-input {
            flex: 1;
        }

    }

    .bp-invalid-container {
        height: calc(0.8rem + 10px);
        box-sizing: border-box;
        padding: 5px 5px 5px 0px;
        margin-left: -5px;
        color: hsl(var(--red-400));
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        // div {
        //     // font-size: clamp(0.8rem, 0.5vw + 0.8rem, 1rem);
        //     // font-size: 1rem;

        // }
    }


    .bp-label {
        font-size: 1.0rem;
        margin-left: 2px;
    }

    .bp-placeholder {
        color: var(--bp-theme-input-placeholder-color)
    }
}

.bp-dropdown-menu {
    position: absolute;
    z-index: 1000;
    top: 0px;
    left: 0px;
    border: 1px solid var(--bp-theme-border-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--bp-theme-card-background-color);

    .bp-dropdown-item-container {
        cursor: pointer;

        &:hover {
            background-color: var(--bp-theme-item-hover-color);
        }
    }

    .bp-dropdown-item {
        padding: 5px 5px 5px 20px;
        color: var(--bp-theme-text-color);
    }

    .bp-dropdown-item-nothing {
        padding: 10px;

    }
}