.bp-card-container {
    position: relative;
    margin: 5px;

    &.bp-card-sm {
        .bp-card {
            min-height: 80px;
            clip-path: polygon(calc(100% - 18px) 0, calc(100%) 18px, calc(100%) 100%, 0 100%, 0 0);
            padding: 10px 20px 20px 20px;

            .bp-title-container {
                .bp-title {
                    font-size: 1.2rem;
                    padding-bottom: 5px;
                }
            }

            .bp-card-text {
                font-size: 0.8rem;
            }


        }

        .bp-card-shadow {
            clip-path: polygon(calc(100% - 20px) 0, 100% 20px, 100% 100%, 0 100%, 0 0);
        }

        .bp-card-border {
            clip-path: polygon(calc(100% - 20px) 0, 100% 20px, 100% 100%, 0 100%, 0 0);

        }
    }

    .bp-card-shadow {
        background-color: var(--card-shadow-color);
        transform: translate(var(--card-clicked-move-x), var(--card-clicked-move-y));
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        top: 0px;
        left: 0px;
        clip-path: polygon(calc(100% - 40px) 0, 100% 40px, 100% 100%, 0 100%, 0 0);
    }

    .bp-card-border {
        background-color: var(--card-border-color);
        padding: 2px;
        height: calc(100% + 1px);
        width: calc(100% + 1px);
        position: absolute;
        top: -2px;
        left: -2px;
        z-index: 1;
        clip-path: polygon(calc(100% - 40px) 0, 100% 40px, 100% 100%, 0 100%, 0 0);
    }

    .bp-card {
        width: 100%;
        height: 100%;
        z-index: 2;
        padding: 5px 30px 5px 30px;
        background-color: var(--card-background-color);
        position: relative;
        clip-path: polygon(calc(100% - 38px) 0, calc(100%) 38px, calc(100%) 100%, 0 100%, 0 0);
        box-sizing: border-box; // Include padding and borders in width
        display: flex;
        flex-direction: column;
        gap: 20px;

        &.right-actions {
            flex-direction: row;

            .bp-card-actions {
                margin-top: 10px;
                flex: 1;

            }
        }

        .bp-card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .bp-card-actions {
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: flex-end;
            align-items: center;
        }

        .bp-title-container {
            .bp-title {
                font-size: 2.0rem;
                font-weight: bold;
                padding-bottom: 5px;
                font-family: var(--theme-font-family-title);
            }
        }

        .bp-card-text {
            font-family: var(--theme-font-family-text);
        }
    }
}