.bp-action-icon {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-family: var(--theme-font-family-text);
    align-items: center;
    justify-content: center;
    transition: 0.1s ease-in;
    cursor: pointer;

    &:hover {
        &.move-type {
            transform: translateY(-5px);
        }

        &.shading-type {
            i {
                background-color: rgba(161, 161, 161, 0.2);
            }
        }
    }

    i {
        cursor: pointer;
        transition: 0.1s ease-in;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.md {
        span {
            font-size: 1.2rem;
        }

        i {
            font-size: 30px;
            width: 50px;
            height: 50px;
            border-radius: 25px;
        }
    }

    &.sm {
        span {
            font-size: 0.8rem;
        }

        i {
            font-size: 20px;
            width: 40px;
            height: 40px;
            border-radius: 20px;
        }
    }

    &.xs {
        span {
            font-size: 0.6rem;
        }

        i {
            font-size: 15px;
            width: 30px;
            height: 30px;
            border-radius: 15px;
        }
    }

    &.lg {
        span {
            font-size: 2.0rem;
        }

        i {
            font-size: 50px;
            height: 100px;
            width: 100px;
            border-radius: 50px;
        }
    }
}