.bp-divider-container {
    width: 100%;
    box-sizing: border-box;
}

.bp-divider {
    margin: 10px;
    max-width: 100%;
    box-sizing: border-box;
    height: 1px;
    background-color: hsl(var(--gray-400));
}