$bp-drawer-padding-top: 10px;
$bp-drawer-padding-left: 15px;
$bp-drawer-item-spacing: 30px;
$bp-drawer-width: 350px;

.bp-drawer-container {
    border-right: 1px solid var(--theme-border-color);
    position: absolute;
    top: 0;
    height: max-content;
    transition: 0.2s ease-in;
    width: $bp-drawer-width;

    .bp-drawer-content {
        background-color: var(--theme-header-background-color);
        color: var(--theme-header-text-color);
        width: $bp-drawer-width;
        min-height: 100vh;
        box-sizing: border-box;
        font-family: var(--theme-font-family-text);
        display: flex;
        flex-direction: column;
        padding-top: $bp-drawer-padding-top;
    }


    .bp-drawer-header {
        .bp-drawer-title {
            font-size: 1.4rem;
            font-weight: bold;
            font-family: var(--theme-font-family-title);
        }

        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        box-sizing: border-box;
        padding:0px $bp-drawer-padding-left;
    }


    .bp-drawer-item {
        font-family: var(--theme-font-family-text);
        box-sizing: border-box;
        padding: ($bp-drawer-item-spacing/2) 0px ($bp-drawer-item-spacing/2) $bp-drawer-padding-left;
        cursor: pointer;
        width: 100%;
        background-color: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        font-size: 1.2rem;
        position: relative;
        transition: 0.1s ease-out;

        &:hover {
            text-decoration: underline;
            background-color: var(--theme-item-hover-color);
        }

        i {
            font-size: 20px;
        }
    }

    .bp-header-group {
        margin: 0px 20px;
    }

    &.open {
        left: 0;

        &.alignment-right {
            left: auto;
            right: 0;
        }
    }

    &.closed {
        left: calc(-1 * $bp-drawer-width - 100px);

        &.alignment-right {
            left: auto;
            right: calc(-1 * $bp-drawer-width - 100px);
        }
    }

}

.bp-drawer-wrapper {
    position: relative;
    height: 100%;
    width: 100vw;
    max-height: 100vh;
    transition: background-color 0.5s ease;
    pointer-events: none;
    z-index: 5;
    overflow-y: scroll;
    scrollbar-width: 0px;

    ::-webkit-scrollbar-track {
        width: 0px;
    }

    &.open {
        pointer-events: all;
        background-color: var(--theme-modal-backdrop-color);
    }


}