@import '../../global.scss';
@import '../Drawer.scss';

.bp-drawer-header {
    .bp-drawer-title {
        font-size: 1.4rem;
        font-weight: bold;
        font-family: $font-family-title;
    }

    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding:0px $bp-drawer-padding;

    .bp-drawer-close {
        cursor: pointer;
        width: 30px;
        height: 30px;
        font-size: 20px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.1s ease-in;

        &:hover {
            background-color: rgba(81, 81, 81, 0.1);
        }
    }
}