@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

$background-color-light: #FFF6EA;
$off-background-color-light: #FEECB3;
$text-color-light: black;
$card-border-color-light: black;
$card-background-color-light: $off-background-color-light;
$card-shadow-color-light: rgba(95, 94, 94, 0.4);
$header-color-light: #fff9f1;
$hover-color-light: #ebedf0;


$background-color-dark: #383838;
$off-background-color-dark: #000000;
$text-color-dark: white;
$card-border-color-dark: #000000;
$card-background-color-dark: #292929;
$card-shadow-color-dark: rgba(25, 25, 25, 0.5);
$header-color-dark: #323232;
$hover-color-dark: #444950;


$card-hover-move-x: 20px;
$card-hover-move-y: -5px;
$card-clicked-move-x: 8px;
$card-clicked-move-y: 8px;

// $font-family-title: 'Roboto Condensed', sans-serif;
$font-family-title: 'IBM Plex Mono', monospace;
// $font-family-title: "Source Code Pro", monospace;
// $font-family-title: "Inconsolata", monospace;
// $font-family-text: 'Inter', system-ui;
$font-family-text: "Inconsolata", monospace;
$button-width: 100px;
$small-button-width: 70px;
$toggle-button-width: 40px;


$transition-delay-1: 0s;
$transition-delay-2: 0.3s;
$transition-delay-3: 0.5s;

:root {
    --background-color: #{$background-color-light};
    --text-color: #{$text-color-light};
    --off-background-color: #{$off-background-color-light};
    --card-border-color: #{$card-border-color-light};
    --card-background-color:#{$card-background-color-light};
    --card-shadow-color: #{$card-shadow-color-light};
    --header-color: #{$header-color-light};
    --hover-color: #{$hover-color-light};

    .dark-mode {
        --background-color: #{$background-color-dark};
        --text-color: #{$text-color-dark};
        --off-background-color: #{$off-background-color-dark};
        --card-border-color: #{$card-border-color-dark};
        --card-background-color:#{$card-background-color-dark};
        --card-shadow-color: #{$card-shadow-color-dark};
        --header-color: #{$header-color-dark};
        --hover-color: #{$hover-color-dark};
    }
}